version: "3"

services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    ports:
      - "80:80"    # Porta HTTP
      - "443:443"  # Porta HTTPS
    networks:
      - traefik
    command:
      - "--api.insecure=true"  # Habilitar dashboard para visualização (opcional)
      - "--providers.docker=true"
      - "--entrypoints.http.address=:80"
      - "--entrypoints.https.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.email=admin@henriquelr.com.br"
      - "--certificatesresolvers.letsencrypt.acme.storage=/data/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=http"

  app-prod:
    image: nhenriquemac/meu-bolt-ai:production
    container_name: app-prod
    environment:
      - NODE_ENV=production
      - COMPOSE_PROFILES=production
      - PORT=5173
    ports:
      - "5173:5173"
    networks:
      - traefik  # Garantir que está na rede traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app-prod.rule=Host(`bolt.henriquelr.com.br`)"
      - "traefik.http.services.app-prod.loadbalancer.server.port=5173"
      - "traefik.http.routers.app-prod.entrypoints=https"
      - "traefik.http.routers.app-prod.tls=true"
      - "traefik.http.routers.app-prod.tls.certresolver=letsencrypt"
    command: pnpm run dockerstart
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  traefik:
    external: false  # Defina como false para criar a rede no Docker
