services:
  app-prod:
    image: henrique-nhrl/meu-bolt-ai:production
    build:
      context: .
      dockerfile: Dockerfile
      target: bolt-ai-production
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=production
      - COMPOSE_PROFILES=production
      - PORT=5173
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: pnpm run dockerstart

  app-dev:
    image: henrique-nhrl/meu-bolt-ai:development
    build:
      target: bolt-ai-development
    environment:
      - NODE_ENV=development
      - VITE_HMR_PROTOCOL=ws
      - VITE_HMR_HOST=localhost
      - VITE_HMR_PORT=5174  # Alterado para evitar conflito
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - PORT=5174  # Alterado para evitar conflito
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - type: bind
        source: .
        target: /app
        consistency: cached
      - /app/node_modules
    ports:
      - "5174:5174"  # Alterado para evitar conflito
    command: pnpm run dev --host 0.0.0.0
