services:
  app-prod:
    image: nhenriquemac/meu-bolt-ai:production
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=production
      - COMPOSE_PROFILES=production
      - PORT=5173
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: pnpm run dockerstart

  app-dev:
    image: nhenriquemac/meu-bolt-ai:development
    ports:
      - "5174:5174"
    environment:
      - NODE_ENV=development
      - VITE_HMR_PROTOCOL=ws
      - VITE_HMR_HOST=localhost
      - VITE_HMR_PORT=5174
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - PORT=5174
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - type: bind
        source: .
        target: /app
        consistency: cached
      - /app/node_modules
    command: pnpm run dev --host 0.0.0.0
