services:
  app-prod:
    image: nhenriquemac/meu-bolt-ai:production
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=production
      - COMPOSE_PROFILES=production
      - PORT=5173
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: pnpm run dockerstart
